<div style="background-color: rgba(31, 34, 36, 0.507);">
    <nav>
        <span style="color:rgb(12, 12, 12)">Don't have an accout? Sign up here </span>
        <button style="background-color:rgba(133, 12, 4, 0.89)"><a routerLink="/signup"style="color: whitesmoke;">Sign up</a></button>
        <br>
        
        <br><span style="color:black">Already have an account? Login here </span>
        <button style="background-color:rgba(24, 61, 6, 0.966)"><a routerLink="/login" style="color: whitesmoke;">Login</a></button>
    </nav>
</div>
