"<div class="container-fluid">
	<h1>Create a new account</h1>
	<h6>{{ userSignupForm.value | json }}</h6>
	<br>
	<h6>{{ scrumUserModel | json }}</h6>
	<form #userSignupForm = "ngForm">
		<div class="form_group">
			<label>Email</label>
			<input required type="email" 
			pattern="^([a-z0-9\.-]{1,80})@([a-z\d-]{1,80})\.([a-z]{2,8})(\.[a-z]{2,8})?$" 
			[class.is-invalid]="email.invalid && email.touched" #email="ngModel" name="email" 
			class="form-control" [(ngModel)]="scrumUserModel.email">
			<div *ngIf="email.errors && (email.touched || email.invalid)">
				<small class="text-danger" *ngIf="email.errors.required">
					Email is required
				</small>
				<small class="text-danger" *ngIf="email.errors.pattern">
					Enter a valid email e.g (youremail@example.com)
				</small>
			</div>
		</div>
		<div class="form_group">
			<label>Fullname</label>
			<input required type="text" 
			[class.is-invalid]="fullname.invalid && fullname.touched" #fullname="ngModel" 
			name="fullname" class="form-control" [(ngModel)]="scrumUserModel.fullname">
			<div *ngIf="fullname.errors && (fullname.invalid || fullname.touched)">
				<small class="text-danger">
					Fullname is required
				</small>
			</div>
		</div>
		<div class="form_group">
			<label>Password</label>
			<input required type="password" 
			pattern="^(?=.*[0-9])(?=.*[\*\?\(\.\)\^\+\[\]\$\|\\])[a-zA-Z0-9\*\?\(\.\)\^\+\[\]\$\|\\]{8,15}$"
			[class.is-invalid]="password.invalid && password.touched" #password="ngModel"
			name="password" class="form-control" [(ngModel)]="scrumUserModel.password">
			<div *ngIf="password.errors && (password.touched || password.invalid)">
				<small class="text-danger" *ngIf="password.errors.required">
					Password is required
				</small>
				<small class="text-danger" *ngIf="password.errors.pattern">
					Enter a password, 8-15 characters long with one number and one special character (+, ?, $, *, or .) 
				</small>
			</div>
		</div>
		<div class="form_group">
			<label>User Type</label>
			<select required [class.is-invalid]="usertype.invalid && usertype.touched" 
			#usertype="ngModel" name="usertype" class="form-control" 
			[(ngModel)]="scrumUserModel.type">
				<option *ngFor = "let eachElement of userTypes">{{ eachElement }} </option>
			</select>
			<div *ngIf="usertype.errors && (usertype.invalid || usertype.touched)">
				<small class="text-danger">
					Usertype is required
				</small>
			</div>
		</div>
		
		<button class="btn btn-primary" type="submit">Create User</button>
	</form>
</div>
